In [1]:
import numpy as np
import pandas as pd

In [18]:
import numpy as np
import xgboost as xgb
from sklearn.datasets import make_classification
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_csv("Wholesale customers data.csv")
df.head(2)

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [3]:
df.isnull().sum()

Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
dtype: int64

In [14]:
df.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [25]:
df.replace([1,2],["one","two"])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,two,3,12669,9656,7561,214,2674,1338
1,two,3,7057,9810,9568,1762,3293,1776
2,two,3,6353,8808,7684,2405,3516,7844
3,one,3,13265,1196,4221,6404,507,1788
4,two,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,one,3,29703,12051,16027,13135,182,2204
436,one,3,39228,1431,764,4510,93,2346
437,two,3,14531,15488,30243,437,14841,1867
438,one,3,10290,1981,2232,1038,168,2125
439,one,3,2787,1698,2510,65,477,52

In [5]:
X = df.drop(['Channel'] ,axis=1)
y = df['Channel']

In [28]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-win_amd64.whl (99.8 MB)
     ---------------------------------------- 99.8/99.8 MB 1.2 MB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\sagar adling\anaconda3\lib\site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in c:\users\sagar adling\anaconda3\lib\site-packages (from xgboost) (1.10.0)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [31]:
from xgboost import XGBClassifier
model = XGBClassifier()

In [34]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [35]:
kf = KFold(10)

In [36]:
abc = cross_val_score(model,X,y,cv = kf)

In [37]:
abc

array([0.81818182, 0.93181818, 0.93181818, 0.95454545, 0.88636364,
       0.88636364, 0.97727273, 0.93181818, 0.93181818, 0.86363636])

In [38]:
print(np.mean(abc))

0.9113636363636364